* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
    display: flex;
    height: 8vh;
    background-color: rgb(87, 171, 219);
    align-items: center;
    padding: 0 1em;
    justify-content: space-around;
    position: relative;
}

nav > .hamburger{
    width: 3em;
    position: absolute;
    right: 1em;


}

.navItems{
    text-decoration: none;
}

.firstHouse ,.burger {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#houseEmpty , .hamburger{
	width: 40%;
}

