* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
    display: flex;
    height: 8vh;
    background-color: rgb(87, 171, 219);
    align-items: center;
    padding: 0 1em;
    justify-content: space-around;
    position: relative;
}

nav > .hamburger{
    width: 3em;
    position: absolute;
    right: 1em;


}

.navItems{
    text-decoration: none;
}

.firstHouse ,.burger , .batteryContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

#houseEmpty , .hamburger{
	width: 40%;
}

.battery{
    width: 30%;
    opacity: 0;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: empty 3s 1s cubic-bezier(1, 0.55, 1, 1) forwards;
    stroke: #d3092b;

}



@keyframes empty {
    0%{
        opacity: 1;

stroke-dashoffset: 100;
    }


    100%{
        opacity: 1;


        stroke-dashoffset: 0;

    }
}


