* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
    display: flex;
    height: 5vh;
    background-color: rgb(87, 171, 219);
    align-items: center;
    padding: 0 1em;
}

.navItems{
    text-decoration: none;
}

.firstHouse {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#houseEmpty {
	width: 300px;
}
